@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
}

/* header.header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 88px;
  padding: 0 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.header .header-col {
  display: flex;
  align-items: center;
}
.header-col .logo {
  width: 150px;
  height: 30px;
  margin-right: 50px;
  background: url("../images/logo_w.png") no-repeat center center;
  background-size: 100%;
}
.header-col .logo a {
  display: block;
  height: 100%;
}
.header-col .list-menu {
  display: flex;
}
.header-col .list-menu li a {
  padding: 20px 15px;
  font-size: 18px;
  font-weight: 500;
}
.header-col button[class^="btn"] {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}
.header-col .btn-lang span {
  margin-right: 5px;
}
.header-col li {
  position: relative;
}
.header-col .list-lang {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  padding: 5px 0;
  border: 1px solid #fff;
}
.header-col .list-lang a {
  display: block;
  padding: 8px 30px;
}
.header-col .btn-search::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  margin-right: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* main */
main,
.cont-company {
  min-width: 1200px;
  background-color: #f7f8f9;
}
main .container,
.cont-company .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}
main .btn-more {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 70px;
  font-size: 14px;
  font-weight: 700;
}

/* section.careers */
main .careers {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  width: 100%;
  height: 740px;
  background-color: #333;
  color: #fff;
}
.careers h2 {
  margin-bottom: 50px;
  font-size: 90px;
  font-weight: 700;
  line-height: 1.2;
}
.careers .cont-combo {
  display: flex;
  align-items: center;
}
.cont-combo .btn-combo {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  font-weight: 700;
}
.cont-combo .btn-combo .material-icons-outlined {
  padding: 0 20px 0 100px;
}
.cont-combo ul[class^="list"] {
  display: none;
}
.cont-combo .btn-next {
  width: 55px;
  height: 55px;
  margin-left: 20px;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
}
.cont-combo .btn-next .material-icons-outlined {
  font-size: 30px;
  line-height: 55px;
}
.careers .btn-scroll {
  position: absolute;
  left: 50%;
  bottom: 40px;
  width: 50px;
  font-size: 11px;
  text-align: center;
  transform: translateX(-50%);
}

/* section.explore */
main .explore {
  height: 1140px;
}
.explore .container {
  position: relative;
  height: 100%;
}
.explore h2 {
  margin-top: 120px;
  font-size: 60px;
  font-weight: 700;
}
.explore .list-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px 0;
}
.explore .list-cards li {
  width: 48%;
  margin-bottom: 50px;
}
.list-cards img {
  width: 100%;
  height: 244px;
  margin-bottom: 15px;
  border-bottom: 2px solid transparent;
  object-fit: cover;
  transition: border-bottom 0.5s;
}
.list-cards .card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
}
.list-cards .card-text {
  margin-top: 10px;
  color: #616161;
  line-height: 1.4;
}
.explore .list-cards li:hover img {
  border-bottom: 2px solid #06c755;
}

/* section.liners */
main .liners {
  height: 882px;
  background: url("../images/liners/liners_bg.jpg") no-repeat;
  background-size: 2000px;
  background-position: 50% -900px;
}
.liners .container {
  position: relative;
}
.liners h2 {
  padding: 100px 0 80px;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
}
.liners .list-liners {
  display: flex;
  justify-content: space-between;
}
.liners .list-liners li {
  width: 31.5%;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
}
.liners .list-liners li a {
  display: flex;
  flex-direction: column;
  height: 450px;
  font-weight: 700;
}
.liners .list-liners li a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.liners .liner-title {
  font-size: 45px;
  height: 120px;
}
.liners .liner-name {
  margin: 90px 0 15px;
  font-size: 25px;
  line-height: 1.5;
}
.liners .liner-text {
  position: absolute;
  right: 30px;
  bottom: 30px;
  left: 30px;
  color: #616161;
  font-weight: 400;
  line-height: 1.3;
}
.list-liners .liner-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../images/liners/liners1.jpg") no-repeat center center;
  background-size: auto 100%;
  color: #fff;
  opacity: 0;
  transition: all 0.2s;
}
.liner-hover .liner-title {
  position: absolute;
  top: 30px;
  left: 30px;
}
.liner-hover .liner-more {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.list-liners li:hover .liner-hover {
  opacity: 1;
}
.liners .btn-more {
  bottom: -60px;
}

/* footer.cont-company */
.cont-company .container {
  padding: 50px 0;
  border-top: 1px solid #e1e1e1;
}
.cont-company .container,
.cont-company .footer-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.cont-company .copy {
  margin-right: 50px;
  color: #1e1e1e;
}
.cont-company .privacy {
  font-weight: 700;
}
.cont-company .btn-site {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 700;
}
.footer-col li {
  position: relative;
}
.cont-company .list-site {
  display: none;
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  padding: 10px 0;
  border: 1px solid rgba(225, 225, 225);
  background-color: #fff;
  color: #999;
  text-align: center;
}
.cont-company .list-site a {
  display: block;
  padding: 8px 0;
}
.cont-company .list-site a:hover {
  color: #000;
}
.cont-company .list-sns {
  display: flex;
  align-items: center;
}
.list-sns > li {
  margin-left: 20px;
}
.list-sns button[class^="sns"] {
  width: 25px;
  height: 25px;
  background-size: 100%;
}
.list-sns .sns-instagram {
  background: url("../images/sns/instagram.svg") no-repeat;
}
.list-sns .sns-facebook {
  background: url("../images/sns/facebook.svg") no-repeat;
}
.list-sns .sns-github {
  background: url("../images/sns/github.svg") no-repeat;
}
.list-sns .sns-youtube {
  background: url("../images/sns/youtube.svg") no-repeat;
}

.list-sns .list-sns-more {
  display: none;
  position: absolute;
  bottom: 45px;
  left: 50%;
  padding: 10px 0;
  border: 1px solid rgba(225, 225, 225);
  background-color: #fff;
  color: #999;
  transform: translateX(-50%);
}
.list-sns .list-sns-more a {
  display: block;
  width: 150px;
  padding: 8px 15px;
}
.list-sns .list-sns-more a:hover {
  color: #000;
}
