@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  padding: 0 30px;
  color: #fff;
}
.header .header-col {
  display: flex;
  align-items: center;
}
.header-col .logo {
  width: 150px;
  height: 30px;
  margin-right: 50px;
  background: url("../images/logo_w.png") no-repeat center center;
  background-size: 100%;
}
.header-col .logo a {
  display: block;
  height: 100%;
}
.header-col .list-menu {
  display: flex;
}
.header-col .list-menu li a {
  padding: 20px 15px;
  font-size: 18px;
  font-weight: 500;
}
.header-col button[class^="btn"] {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}
.header-col .btn-lang span {
  margin-right: 5px;
}
.header-col li {
  position: relative;
}
.header-col .list-lang {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 5px 0;
  border: 1px solid #fff;
}
.header-col .list-lang a {
  display: block;
  padding: 8px 30px;
}
.header-col .btn-search::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  margin-right: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}
