@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  height: 1000px;
}

/* header.header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 88px;
  padding: 0 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.header .header-col {
  display: flex;
  align-items: center;
}
.header-col .logo {
  width: 150px;
  height: 30px;
  margin-right: 50px;
  background: url("../images/logo_w.png") no-repeat center center;
  background-size: 100%;
}
.header-col .logo a {
  display: block;
  height: 100%;
}
.header-col .list-menu {
  display: flex;
}
.header-col .list-menu li a {
  padding: 20px 15px;
  font-size: 18px;
  font-weight: 500;
}
.header-col button[class^="btn"] {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}
.header-col .btn-lang span {
  margin-right: 5px;
}
.header-col li {
  position: relative;
}
.header-col .list-lang {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 5px 0;
  border: 1px solid #fff;
}
.header-col .list-lang a {
  display: block;
  padding: 8px 30px;
}
.header-col .btn-search::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  margin-right: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* main */
/* section.careers */
main .careers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 740px;
  padding-left: 50px;
  background-color: #333;
  color: #fff;
}
.careers h2 {
  margin-bottom: 50px;
  font-size: 90px;
  font-weight: 700;
  line-height: 1.2;
}
.careers .cont-combo {
  display: flex;
  align-items: center;
}
.cont-combo .btn-combo {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  font-weight: 700;
}
.cont-combo .btn-combo .material-icons-outlined {
  padding: 0 20px 0 100px;
}
ul[class^="list"] {
  display: none;
}
.cont-combo .btn-next {
  width: 55px;
  height: 55px;
  margin-left: 20px;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
}
.cont-combo .btn-next .material-icons-outlined {
  font-size: 30px;
  line-height: 55px;
}
.careers .btn-scroll {
  position: absolute;
  left: 50%;
  bottom: 40px;
  width: 50px;
  font-size: 11px;
  text-align: center;
  transform: translateX(-50%);
}
